{% extends 'base.html.twig' %}

{% block body %}
    <h1>la page que vous avez demandée n'existe pas. </h1>

    <p>ou à peut être été déplacée.</p>

    <p>
        <a href="{{ path('nao_user_homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}