{% extends 'base.html.twig' %}

{% block body %}
    <div id="selection" class="call">
        <div>
            <img style="height: 400px" src="{{ asset('images/hibou.svg') }}" alt="hibou">
        </div>

        <div>
            <h1>La page que vous avez demandée n'existe pas. </h1>

            <p>ou à peut être été déplacée.</p>

            <p>
                <a href="{{ path('nao_user_homepage') }}">Retourner à l'accueil.</a>.
            </p>
        </div>

    </div>
{% endblock %}