{% extends "NAOAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Administration  {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <h1>ADMIN PAGE</h1>
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}